<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.mobilne.ultrasound.android.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TokenSenderActivity"
            android:label="@string/title_activity_token_sender"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilne.ultrasound.android.app.MainActivity" />
        </activity>
        <activity
            android:name=".TokenReceiverActivity"
            android:label="@string/title_activity_token_receiver"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.mobilne.ultrasound.android.app.MainActivity" />
        </activity>
    </application>

</manifest>
